* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 700 !important;
}

#about-header .container-fluid {
    margin: 0;
    padding: 0;
}

#about-header .row {
    margin: 0;
    padding: 0;

}

#about-header .header-image {
    margin-bottom: 2%;
    width: 100%;
}

#about-university .main-heading {
    color: #3D9970;
    font-size: 5vh;
    font-weight: 700;
    text-transform: capitalize;
}

#about-university .justify {
    text-align: justify;
}

#about-university .color-main {
    color: #212121;
}

#about-university .about-para-style {
    font-size: 3vh;
    padding: 2% 5% 5% 5%;
}

#about-fact-section .container-fluid {
    background: #1fb58a;
    color: white;
    padding: 5% 0;
}

#about-fact-section .fact-top-heading {
    font-size: 5vh;
    padding-top: 3%;
}

#about-fact-section .fact-bottom-heading {
    font-size: 4vh;
}

#about-fact-section .fact-para-style {
    font-size: 2vh;
}

#about-fact-section hr {
    width: 30%;
}

#about-fact-section .fact-figure {
    padding: 5% 0;
}

#about-fact-section .row {
    margin: 0;
    padding: 0;
}

#attraction-carousel .container-fluid {
    background: white;
    color: #1fb58a;
    margin: 5% 0;
    padding-left: -15px;
    padding-right: -15px;
}

#attraction-carousel .why-banner {
    color: #3D9970;
    font-size: 5vh;
    padding-bottom: 1%;
}

#attraction-carousel .attraction-inner-title {
    color: #3D9970;
    font-size: 4vh;
    padding-bottom: 1%;
    text-align: center;
}

#attraction-carousel .attraction-info {

    color: #212121;
    font-size: 3vh;
    padding-right: 12%;
    text-align: justify;
}

#attraction-carousel .carousel-control.left, #attraction-carousel .carousel-control.right {
    background-image: none;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
    color: #212121;
}

#attraction-carousel .img-responsive {
    padding-left: 25%;
}

@media (max-width: 991px) {
    #attraction-carousel .attraction-info {
        font-size: 2vh;
        padding-top: 10%;
        text-align: justify;
    }

    #attraction-carousel .img-responsive {
        padding-left: 0;
    }

    #attraction-carousel .attraction-info {
        padding-right: 0;
    }

    #about-university .about-para-style {
        font-size: 3vh;
    }

    #attraction-carousel .why-banner {
        font-size: 3vh;

    }

    #attraction-carousel .attraction-inner-title {
        font-size: 2vh;
    }

    #about-university .about-para-style {
        font-size: 2vh;
    }

}

@media (min-width: 992px) and (max-width: 1400px) {

    #attraction-carousel .attraction-info{
        font-size: 2vh;
    }

}
