* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.about-info-style {
    background-color: #828282;


}

.about-title-style {
    color: white;
    font-size: 34px;
    padding-bottom: 1vw;
}

.about-info-style p {
    color: white;
    font-size: 28px;

    padding-left: 5vw;
    padding-right: 5vw;
}

.about-info-style img {
    width: 100%;
    max-height: 30%;
}

.fact-main {
    max-width:101.2%;
    background-size: cover;
    background: url("../Images/red-rays-full-2.png") no-repeat;

}

.col-lg-3 {
    padding-top: 2vw;

}

.col-lg-3 h1 {
    color: white;
}

.col-lg-3 h2 {
    color: white;
}

hr {
    width: 30%;
}

.col-lg-3 img {
    max-width: 6vw;
    max-height: 8vw;
    margin: 1vw 0;

}

em {
    color: white;
}

.facility-slider {
    background-image: url("../Images/about-slider-background.jpg");

    background-repeat: no-repeat;

    background-size: cover;

}

.facility-slider h1 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 3vw;
    padding-top: 5%;
    margin-top: auto;
}

.col-lg-6 p {
    color: white;
    font-size: 1.5vw;
    text-align: left;
    text-align: justify;
    max-height: 50%;

}

.item {

    margin-left: 70%;
    padding-top: 2%;
    padding-bottom: 2%;

}

.col-md-12 {
    margin-left: 10%;
}

.col-lg-4 img {
    max-width: 100%;
}


.container-fluid  .row{
    margin-right: -15px;
    margin-left: -15px;

}

