* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700 !important;
}

#main-header .container-fluid {
    background: url("../Images/contact-us.jpg") no-repeat;
    background-size: cover;
    height: 30%;
    margin-bottom: 5%;
    padding: 5% 0;

}

#main-header .header-image-text {
    color: white;
    font-size: 3vw;
}

#get-in-touch .container-fluid {
    background: white;

}

#get-in-touch .get-in-touch-form-heading {
    color: #3D9970;
    font-size: 5vh;
    padding: 0 5%;

}

#get-in-touch .form-item {
    padding: 1% 10% 1% 5%;
}

#get-in-touch .contact-heading {
    color: #3D9970;

}

#get-in-touch .bold-text p {
    font-size: 3vh;
    font-weight: bold;
}

#get-in-touch .margin-bottom {
    margin-bottom: 3%;
}

#get-in-touch .get-in-touch-form-heading-2 {
    color: #3D9970;
    font-size: 4vh;
    padding: 0 5%;
}

#map {
    background: #f9f6ef;
}

#map .map-heading {
    color: #3D9970;
    padding: 1% 3%;

}

#map .map-container {
    box-shadow: 0px 1px 5px 1px rgba(105, 105, 105, 0.8);
    -moz-box-shadow: 0px 1px 5px 1px rgba(105, 105, 105, 0.8);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(105, 105, 105, 0.8);
    height: 45vh;
    left: 10%;
    margin-bottom: 3%;
    max-width: 80%;
}

@media (max-width: 991px) {
    #get-in-touch .bold-text {
        padding: 0 10%;
    }

    #map .map-container {
        height: 30vh;
    }

    #get-in-touch .get-in-touch-form-heading {
        font-size: 3vh;
    }

    #get-in-touch .get-in-touch-form-heading-2 {
        font-size: 2vh;
    }

    #get-in-touch .contact-padding {
        padding-top: 5%;
    }
}

