* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

#main-header .container-fluid {
    height: 30%;
    background: url("../Images/contact-us.jpg") no-repeat;
    background-size: cover;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 5% 0;

}

#main-header .header-image-text {
    font-size: 4vw;
    color: white;
}

#get-in-touch .container-fluid {
    background: white;

}

#get-in-touch .get-in-touch-form-heading {
    color: #42493d;
    padding: 0 5%;
    font-size: 5vh;

}

#get-in-touch .form-item
{
    padding: 1% 10% 1% 5%;
}

#get-in-touch .contact-heading{
    color: #1fb58a;

}

#get-in-touch .bold-text p{
    font-weight: bold;
    font-size: 3vh;
}

#get-in-touch .margin-bottom{
    margin-bottom: 3%;
}
#map .map-heading{
    color: #1fb58a;
    padding: 1% 3%;

}

#map .map-container{
    height: 45vh;
    max-width: 80%;
    left: 10%;
    margin-bottom: 3%;
}



@media (max-width: 991px)
{
    #get-in-touch .bold-text{
        padding: 0 10%;
    }
    #map .map-container{
        height: 30vh;
    }
    #get-in-touch .get-in-touch-form-heading{
        font-size: 4vh;
    }
    #get-in-touch .contact-padding{
        padding-top: 5%;
    }
}
