* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

}

.container {
    padding-top: 4%;
}

.container > h1 {
    font-weight: bold;
}

.container h2 {
    color: #1fb58a;
    font-weight: bold;

}

.container p {
    margin-bottom: 0;
    font-weight: bold;
}

#map-display {
    height: 40%;

}
.col-lg-5{
    clear: left;
}
.col-lg-4{
    float: none;
}
.direction-inline{

}
.direction-inline  p{
    padding-bottom: 1%;
}
.col-lg-6 {
    color:#1fb58a;
    margin-left: 5%;

    padding-bottom: 3%;
}
legend {
    font-weight: bold;
}
