* {
    box-sizing: border-box;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.img-container{
    height:30%;
    background: url("../Images/contact-us.jpg") no-repeat;
    background-size: cover;
    margin-top:3%;


}
.img-header {
    padding-top: 5%;
    padding-bottom: 5%;
    color:rgba(252,255,250,1);
    padding-left: 40%;
}
.container-fluid .row{
    margin-left: -15px;
    margin-right: -15px;
}
.col-lg-6{
    margin-left: 10%;
    color: #42493d;
    margin-right: 5%;
}
.form-group .col-lg-10 {
    padding-bottom: 1%;
}
.col-lg-4 {
    font-weight: bold;
    color:#42493d;
}
#map-display {
    height: 35vh;
    margin-bottom: 1%;

}
.col-lg-4 h2{
    color: #1fb58a;
}
.container-fluid > h1{
    color: #1fb58a;
}
.col-lg-6 h1{
    color: #1fb58a;
}

.col-lg-9{
    margin-left: 10%;
}
.col-lg-4 p{
    font-size:2vh;
}