* {
    box-sizing: border-box;
    font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.panel {
    margin: 0;
}

.panel-footer {
    background-color: #1fb58a;
    height: auto;
    color: white;
    border-radius: 5px;
    font-size: 1vw;
}

.panel-footer .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-footer a {
    text-decoration: none;
    color: white;
}

.panel-footer div > a:hover{
    text-decoration: underline;
}

span .fa {
    margin-left: 10px;
}

