* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#gallery-body {
    padding: 0 !important;
    margin-right: 30px; !important;
}

#gallery-body .row.stick {
    position: sticky;
    top: 0;
    z-index: 1;
}

#gallery-body .row > .navbar {
    border: 0;
}

#gallery-body #myNavbar {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0.25px 5px #ccc;
    display: flex;
    justify-content: center;
    width: 100%;
}

#gallery-body #myNavbar a:hover {
    background: transparent;
}

#gallery-body #myNavbar > ul > li::before {
    content: '';
    display: block;
    height: 3px;
    width: 0;
}

#gallery-body #myNavbar > ul > li::after {
    background: #1fb58a;
    content: '';
    display: block;
    height: 3px;
    transition: width .3s;
    width: 0;
}

#gallery-body #myNavbar .link-active {
    background: #1fb58a;
    color: white;
}

#gallery-body #myNavbar > ul > li:hover::after {
    width: 100%;
}

#gallery-body #myNavbar a {
    background-color: white;
    border-radius: 2px;
    color: black;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}

#gallery-body #myNavbar a.link-active:hover {
    background: #189c77;
    color: white;
}

#gallery-body #section1, #gallery-body #section2, #gallery-body #section3, #gallery-body #section4 {
    padding-left: 45px;
}

#gallery-body #section2 .flex-img-container, #gallery-body #section3 .flex-img-container {
    margin-bottom: 5vh;
}

#gallery-body #section4 .flex-img-container {
    margin-bottom: 1vh;
}

#gallery-body #section1 h2, #gallery-body #section2 h2, #gallery-body #section3 h2, #gallery-body #section4 h2 {
    background-color: transparent;
    border-bottom: 2px solid #1fb58a;
    color: #189c77;
    font-size: 2vw;
    padding-bottom: 8px;
    padding-left: 15px;
}

#gallery-body #section1 h2 {
    margin-top: 40px;
}

#gallery-body .imgContent {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: -15px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-items: center;
}

#gallery-body figure {
    overflow: hidden;
    position: relative;
}

#gallery-body figure .img-caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    border-bottom: 4px solid #189c77;
    bottom: 0;
    font-size: 1.2em;
    font-weight: 600;
    left: 0;
    opacity: 0;
    padding: 5px 0px 5px 15px;
    position: absolute;
    right: 0;
    transition: all 0.2s ease-in-out 0s;
}

#gallery-body figure:hover .img-caption {
    color: white;
    opacity: 1;
}

#gallery-body img {
    margin: 0;
    width: 100%;
}

#gallery-body figure img:hover {
    box-shadow: 0 1rem 3rem -1rem rgba(0, 0, 0, 1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#gallery-body .modal.and.carousel {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
}

#gallery-body .modal.and.carousel .carousel-inner img {
    height: 60vh;
    width: 100%;
}

#gallery-body .modal.and.carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.25);
    border-left: 6px solid #1fb58a;
    border-radius: 5px;
    bottom: 60px;
    color: ghostwhite;
    font-size: 30px;
    font-weight: 500;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}

#gallery-body .modal.and.carousel .carousel-caption p {
    margin: 5px 0;
    padding-left: 10px;
    text-align: left;
}

#gallery-body .modal.and.carousel a.left, #gallery-body .modal.and.carousel a.right {
    height: 80vh;
    width: 5vw;
}

#gallery-body button.close, #gallery-body span.glyphicon {
    color: white;
    font-size: 2.5vw;
    opacity: 0.7;
}

#gallery-body #section1 button[class="btn btn-default"] {
    background: #189c77;
    color: white;
    font-size: 1vw;
    margin-bottom: 5vh;
}

#gallery-body .flex-img-container {
    display: flex;
    justify-content: center;
    padding: 2vh 5vw;
}

#gallery-body .flex-img-container > .flex-img-container {
    padding: 0;
}

#gallery-body .flex-1 {
    display: flex;
    flex: 1;
}

#gallery-body .flex-2 {
    display: flex;
    flex: 2;
}

#gallery-body .flex-3 {
    display: flex;
    flex: 3;
}

#gallery-body .flex-dir-col {
    display: flex;
    flex-direction: column;
}

#gallery-body .flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

#gallery-body .flex-stretch {
    align-content: stretch;
}
