/* #new {
    background: #ddd;
    position: relative;
    padding-top: 25px;
    min-height: 500px;  
}

.row > div {
    margin-top: 15px !important;
}

img {
    width: 100%;
}

#news-old figure {
    display: flex;
    flex-flow: row;
    margin: 0;
    overflow: hidden;
    text-align:center;
    display:block;
    position: relative;
}

#news-old figure img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#news-old img:hover {
    transform: scale(1.1);
}

#news-old figure:hover {
    -webkit-box-shadow: 0px 1px 10px 1px rgba(105,105,105,0.8);
    -moz-box-shadow: 0px 1px 10px 1px rgba(105,105,105,0.8);
    box-shadow: 0px 1px 10px 1px rgba(105,105,105,0.8);
}

#news .col-md-6 h3 {
    position: absolute;
    bottom: 0;
    color: white;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.7);
    font: bold 24px/45px Helvetica, Sans-Serif; 
}

#news .col-md-3 figure img {
    height: 160px;
}

#news .col-md-3 figure div {
    position: relative;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    min-height: 50px;
} */

/* Index Carousel */
#index-carousel .item{
    height: 90vh;
}

#index-carousel .item-1 {
    background: url('../img/nav-carousel/about-uni.jpg') no-repeat center center;
    background-size: cover;
}

#index-carousel .item-2 {
    background: url('../img/nav-carousel/library.jpg') no-repeat center center;
    background-size: cover;
}

#index-carousel .item-3 {
    background: url('../img/nav-carousel/carousel_gallery.jpg') no-repeat center center;
    background-size: cover;
}

@media screen and (max-width: 576px) {
    #index-carousel .item{
        height: 50vh;
    }
}

/* Index Carousel */

#index-carousel {
    margin: 0;
    padding: 0;
}


/* Container width changes  */
@media screen and (min-width: 1200px) {
    .container {
        width: 95vw;
    }

}
/*  */

/* NEWS SECTION */

img {
    width: 100%;
}

#news h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

#news {
    background: #f9f6ef;
    padding: 50px 0px 50px 0px;
}

#news .news-container {
    align-content: flex-start;
    /* align-items: stretch; */
    display: flex;
    /* padding-top: 50px; */
}

#news .news-container > * {
    box-sizing: border-box;
}

#news .news-container img {
    width: 100%;    
}

#news .big-image {
    flex-grow: 2;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: calc(50% - 20px);
}

#news .big-image img {
    min-height: 350px;
}

/* #news .big-image .big-image-inner {
    position: relative;
} */

/* #news .big-image .big-image-inner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
} */

#news .big-image h3 {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    color: white;
    font: bold 24px/36px Helvetica, Sans-Serif;
    padding-left: 15px;
    position: absolute;
}

#news .small-image {
    background: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    overflow: hidden;
    width: calc(25% - 20px);
}

#news .small-image img {
    height: 60%;
}

#news .small-image p {
    color: #1fb58a;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 15px;
    text-transform: uppercase;
    /* background: white; */
}

#news .small-image h3 {
    font: bold 18px Helvetica, Sans-Serif; 
    margin: 0;
    /* background: white; */
    padding-left: 15px; 
    text-align: left;
}

#news .small-image h3.textColor {
    color: rgb(82, 150, 253);
}


#news .news-container img {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#news .news-container img.zoom {
    transform: scale(1.03);
}

#news .big-image, #news .small-image {
    box-shadow: 0px 1px 5px 1px rgba(105,105,105,0.8);
    -moz-box-shadow: 0px 1px 5px 1px rgba(105,105,105,0.8);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(105,105,105,0.8);
    z-index: 1;
}

#news .big-image:hover, #news .small-image:hover {
    box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    -moz-box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    z-index: 1;
}


/* For Desktops */
@media screen and (max-width: 992px) {
    #news .big-image img {
        min-height: 300px;
    }

    #news .news-container {
        flex-wrap: wrap;
    }

    #news .big-image {
        margin: 10px;
        width: calc(100% - 20px);
    }

    #news .small-image {
        margin: 10px;
        width: calc(50% - 20px);
    }

    .hide-on-mobile {
        display: none;
    }

    /* For Event Section */
    /* #events .events-container .event-column {
        flex-wrap: wrap;
        width: calc(100% - 30px);
        margin: 15px;
    } */
}

/* For Tablets */
@media screen and (max-width: 768px) {
    #news .big-image {
        margin: 10px;
        width: calc(100% - 20px);
    }

    #news .small-image {
        margin: 10px;
        width: calc(50% - 20px);
    }
}


/* For Mobiles */
@media screen and (max-width: 576px) {
    #news .small-image img{
        display: none;
    }

    #news .small-image {
        margin: 10px;
        width: 100%;
    }

    #news .big-image {
        margin: 10px;
        width: 100%;
    }

    #news .small-image h3 {
        font: bold 16px Helvetica, Sans-Serif; 
        padding-bottom: 10px;
    }
}

/* EVENTS SECTION */

#events {
    background: #a7a7a7;
    padding: 50px 0px 50px 0px;
} 

#events h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

#events .events-container {
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* align-items: stretch; */
    /* align-content: flex-start; */
    /* padding-top: 50px; */   
}

#events .events-container > * {
    box-sizing: border-box;
}

#events .events-container .event-column {
    background: white;
    box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    -moz-box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    -webkit-box-shadow: 0px 1px 15px 1px rgba(105,105,105,0.8);
    margin: 10px;

    min-height: 38vw;
    overflow: hidden;
    width: calc(25% - 20px);
    z-index: 1;
}

/* #events .events-container .event-date {
    background: #ddd;
} */


#events .events-container .content {
    /* position: relative; */
    /* padding-top: 10%; */
    /* padding-bottom: 40%; */
    /* width: 100%;     */
    /* height: 80%;  */
    margin-top: -3rem;
    position: relative;
    
}

#events .event-column p {
    color: #1fb58a;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 0 10px 20px;
    text-transform: uppercase;
    /* background: white; */
}

#events .event-column h3 {
    font: bold 18px Helvetica, Sans-Serif; 
    margin: 0;
    /* padding-bottom: 5rem; */
    padding-left: 20px; 
    text-align: left;
}

#events .event-column h3.textColor {
    color: rgb(82, 150, 253);
}

#events .events-container img {
    /* position: relative; */
    height: 65%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    width: 100%;
}

#events .events-container img.zoom {
    transform: scale(1.03);
}

#events .events-container .event-date {
    background: rgb(6, 6, 6);
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    left: 2rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -3.75rem;
    z-index: 2;
}

@media screen and (max-width: 992px) {
    /* #events .events-container {
        flex-wrap: wrap;
    } */

    #events .events-container .event-column {
        flex-wrap: wrap;
        margin: 10px;
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    /* #events .events-container .event-date {
        float: left;
    } */

    /* #events .events-container .event-column img {
        display: none;
    } */

    #events .events-container .content{
        padding: 10px 0 10px 0; 
        margin-top: -5rem;
    }

    #events .events-container .content p{
        margin: 0;
        padding-bottom: 5px; 
        font-size: 1.1rem;
    }

    #events .events-container .content h3{
        margin: 0;
        font-size: 1.1rem;
    }

    #events .events-container .event-date {
        font-size: 1.1rem;
        padding: 1.1rem;
        top: -2.85rem;
    }

}