* {
    box-sizing: border-box;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#login .container-fluid {
    background: url("../Images/university.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

}

#login .form-container {
    background: white;
    color: #1fb58a;
}

@keyframes mymove {
    from {
        top: -400px;
    }
    to {
        top: 20vh;
    }
}

#login .form-container {
    align-items: center;
    animation: mymove 1s;
    animation-delay: 1s;
    background-color: #eeeeee;

    border-radius: 5px;
    color: #212121;
    height: auto;
    left: 30%;
    padding: 0 5% 3%;
    position: absolute;
    top: -500px;
    width: 40%;
    justify-items: center;
    animation-fill-mode: forwards;

}

#login .btn-custom {
    background-color: #1fb58a;
    color: #fff;
}

#login .btn-custom:hover,
#login .btn-custom:focus {
    color: #fff;
}

#login .checkbox .character-checkbox {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: 25px;
}

#login .form-heading {
    color: #1fb58a;
    font-size: 4vh;
    padding-bottom: 5%;
}

#forgot-password .btn-custom {
    background-color: #1fb58a;
    color: #fff;
}

#login .forget {
    display: block;
    font-size: 2vh;
    padding-top: 3%;
    text-align: center;

}

#login .checkbox>.label{
    color: #6d6d6d;
}
#message{
    padding: 0 5%;
}

body{
    padding:0 !important;
}
/* for xs- devices */
@media (max-width: 576px) {

    #login .form-container {
        left: 10%;
        width: 80%;

    }
}
